.App {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: cornflowerblue;
	color: azure;
	min-height: 10vh;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50%;
	list-style: none;
}

.users {
	display: flex;
	flex-direction: row;

	justify-content: space-around;
	align-items: center;
}
